@font-face {
    font-family: HarryP;
    font-style: normal;
    font-weight: normal;
    src:url("harryp.ttf");
}

@font-face {
    font-family: Lumos;
    font-style: normal;
    font-weight: normal;
    src:url("lumos.ttf");
}

h1 {
    font-family: "Lumos";
    font-variant: small-caps;
}

ol {
    margin-left: 1em;
}
